/*************************/
/* CSS Reset */
/*************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************************/
/* General Styles */
/*************************/
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/*************************/
/* Navbar */
/*************************/
.header {
  background-color: #1f2937;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin-inline: auto;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.nav-links {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb;
}

.nav-links li a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 24px 16px;
}

.nav-links li a:hover {
  background-color: #353e4b;
}

/*************************/
/* Hero */
/*************************/
.hero-section {
  background-color: #1f2937;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  max-width: 960px;
  margin-inline: auto;
  padding-block: 96px;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  color: #f9faf8;
  margin-bottom: 12px;
}

.hero-info p {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 1.6;
  margin-bottom: 24px;
}

.hero-info button {
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
}

.hero-info button:hover {
  background-color: #3275dd;
}
